.__ncw_trigger {
    position: fixed;
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: 0;
    padding: 10px 0;
    background: transparent;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 9999998;

    &:hover {
        transform: translateX(-50%);
    }
}

.__ncw_trigger-action {
    background: #414141;
    border-radius: 8px;
    padding: 4px 20px 28px;
    cursor: pointer;
    box-shadow: 0 2px 6px transparent;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 9998;
    color: white;
    border: none;

    .__ncw_trigger:hover & {
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
        padding: 12px 20px;
        border-radius: 40px;
    }
}
