.__ncw_close-button {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #414141;
    border: none;
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    color: white;

    &:hover {
        background: #2b2828;
    }

    @media (max-width: 768px) {
        top: 8px;
        right: 8px;
        background: none;
        color: black;

        &:hover {
            background: none;
            color: #414141;
        }
    }
}
