.__ncw_key-item {
    padding: 12px 16px;
    margin-top: 4px;
    cursor: pointer;
    background: #f9fafb;
    text-align: left;
    border: none;
    transition: background-color 0.2s;

    &:hover {
        background: #f3f4f6;
    }
}

.__ncw_key-item.__ncw_selected {
    background: #e3e5e8;
}

.__ncw_key-item-name {
    font-family: "Monaco", "Menlo", "Ubuntu Mono", monospace;
    word-break: break-all;
    margin-right: 8px;
}
